<h3>Bienvenue ! Merci de confirmer votre email</h3>

<p>
    Veuillez confirmer votre email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Je confirme mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt sur <a href="https://app-eni-sortir.herokuapp.com/">app-eni-sortir</a>
</p>
