{% extends 'dashboardBase.html.twig' %}

{% block content %}
    <div>
        <h1>Administration</h1>
        <p>Bienvenue dans l'interface d'administration</p>
        <a href="{{ path('accueil') }}">Retour au site</a>
    </div>
{% endblock %}
