.input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% + 10px);
    margin-bottom: 10px;
}

input,
textarea,
select {
    padding: 8px 12px;
    border-radius: 12px;
    border: 2px solid var(--light-color-1);
    font-size: 16px;
}

label {
    font-size: 18px;
}

.form-error {
    font-weight: 700;
    color: var(--error-color);
}

.form-error ul {
    list-style: none;
    margin-top: 18px;
}