:root {
    /* Fonts */
    --primary-font: 'Encode Sans', sans-serif;

    /* Colors */
    --primary-color: #0052cc;
    --secondary-color: #FF0096;
    --error-color: #ff2229;
    --success-color: #32DE8A;
    --light-color-1: #D0D0DF;
}