#flashes {
    text-align: center;
    list-style: none;
}

#flashes li {
    margin-bottom: 34px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 18px 53px 18px 18px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
    vertical-align: middle;
}

.flash-error ion-icon {
    font-size: 32px;
    color: var(--error-color);
    vertical-align: inherit;
    margin-right: 6px;
    margin-top: -3px;
}

.flash-success ion-icon {
    font-size: 32px;
    color: var(--success-color);
    vertical-align: inherit;
    margin-right: 6px;
    margin-top: -3px;
}