#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;;
    align-items: center;
}

#navbar .active a {
    font-weight: 900!important;
    color: var(--primary-color);
}

#navbar-left a {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--primary-color);
}

#navbar-left a:hover {
    font-weight: 900;
}

#navbar-left img {
    width: auto;
    height: 72px;
}

#navbar-right ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    list-style: none;
}

#navbar-right ul li {
    margin-right: 16px;
}

#navbar-right ul li:last-of-type {
    margin-right: 0;
}